{
  "plugins": [
    "flowtype",
    "import",
    "jest",
    "prettier",
    "react",
    "react-native",
    "sort-imports-es6-autofix"
  ],
  "parser": "babel-eslint",
  "extends": [
    "plugin:jest/recommended",
    "plugin:react-native/all",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.6.0"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".android.js", ".ios.js", ".native.js"]
      }
    }
  },
  "rules": {
    "flowtype/boolean-style": [2, "boolean"],
    "flowtype/define-flow-type": 2,
    "flowtype/newline-after-flow-annotation": [2, "always"],
    "flowtype/no-dupe-keys": 2,
    "flowtype/use-flow-type": 2,
    "import/first": ["error", "always"],
    "import/no-duplicates": ["error", "always"],
    "import/no-unresolved": ["error", { "caseSensitive": true, "ignore": ["^src"] }],
    "jest/consistent-test-it": ["error", { "fn": "test", "withinDescribe": "test" }],
    "linebreak-style": ["error", "unix"],
    "no-debugger": "off",
    "no-undef": 2,
    "no-unused-vars": 2,
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react/jsx-no-literals": "error",
    "react/no-unused-prop-types": 2,
    "react/no-unused-state": 2,
    "react/prefer-stateless-function": "off",
    "react/prop-types": "error",
    "semi": ["warn", "never"],
    "sort-imports-es6-autofix/sort-imports-es6": [
      "error",
      {
        "ignoreCase": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups",
        "groups": ["builtin", "external", "internal", "parent", "index", "sibling"]
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore",
        "imports": "always-multiline",
        "objects": "always-multiline"
      }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": false,
        "shorthandFirst": false,
        "ignoreCase": true
      }
    ],
    "react/sort-comp": [
      2,
      {
        "order": [
          "constructor",
          "static-methods",
          "state",
          "instance-variables",
          "lifecycle",
          "everything-else",
          "render"
        ],
        "groups": {
          "rendering": ["/^render.+$/", "render"]
        }
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "parser": "flow",
        "printWidth": 100,
        "singleQuote": true,
        "semi": false,
        "trailingComma": "all"
      }
    ],
    "flowtype/sort-keys": [
      2,
      "asc",
      {
        "caseSensitive": true,
        "natural": false
      }
    ],
    "flowtype/no-weak-types": 2
  },
  "globals": {
    "__DEV__": true
  }
}
